* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.container {
    padding:0 100px 0 100px;
}

nav ul,
.container-main-info-section,
.work-category {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

body {
    background-color: #252627;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
}

.navbar {
    background-color: #252627;
}

header h1,
header a,
.text p,
.about h1,
.skills h1,
.work h1,
.contact h1 {
    color: #707070
}

li {
    list-style: none;
    margin-left: 30px;
}

a {
    text-decoration: none;
    font-size: .9rem;
    text-transform: uppercase;
    position: relative;
    top: 50%;
    bottom: 50%;
    transform: translateY(-50%);
} 

.container-main-info-section {
    height: calc(100vh - 81.6px);
}

.text {
    margin-top: 120px;
}

.text h1 {
    color: #48cfad;
    font-size: 3rem;
    cursor: context-menu;
}

.text span {
    display: inline-block;
}

span:hover {
    color: #48cfad;
    transition: all .5s;
}

span.name {
    color: #ed5565;
}

span.m-left {
    margin-left: -10px;
}

.text p {
    letter-spacing: 3px;
}

.text a {
    padding :12px 25px;
    background-color: none;
    border: 3px solid #ed5565;
    color: #ed5565;
    
}



