* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.container {
    padding: 0 100px 0 100px;
}

nav ul,
.container-main-info-section,
.work-category {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

body {
    background-color: #252627;
}

.navigation-bar {
    display: inline-block;
    width: 100%;  
    height:100px; 
    background-color:##252627; 
    text-align: center;
}
.logo {
    display: inline-block;
    vertical-align: top;
    width: 350px;
    height: 150px;
    text-align: center;

}
.navigation-bar > a {
    display: inline-block;
    vertical-align: top;
    width: 50px;
    height: 50px;
    margin-right: 50px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.header {
    height: 150px;
}

.menu {
    padding-left: 30px;
}

.menu a {
    padding-right: 25px;
}

header h1,
header a,
.text p,
.about h1,
.skills-icons h1,
.work h1,
.contact h1 {
    color: #707070
}

li {
    list-style: none;
    margin-left: 30px;
}

a {
    text-decoration: none;
    font-size: .9rem;
    text-transform: uppercase;
    position: relative;
    top: 50%;
    bottom: 50%;
    transform: translateY(-50%);
    
} 

.container-main-info-section {
    height: 550px;
    padding-left: 80px;
}

.text {
    margin-top: 120px;
}

.text h1 {
    color: #fff;
    font-size: 3rem;
    cursor: context-menu;
    
}

.text span {
    display: inline-block;
}

span:hover {
    color: #fff;
    transition: all .5s;
}

span.name {
    color: #ed5565;
}

span.m-left {
    margin-left: -10px;
}

.text p {
    letter-spacing: 3px;
    word-spacing: 10px;
    font-size: .8rem;
}

.text a {
    padding :12px 25px;
    background-color: none;
    border: 3px solid #ed5565;
    color: #ed5565;
    font-size: .8rem;
    letter-spacing: 2px;
    position: relative;
    top: 80px;
    overflow: hidden;
    transition: .5s;
    display: inline-block;
}

.text a:hover {
    color: #fff;
}

.text a:before {
    content: '';
    background-color: #ed5565;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0%;
    z-index: -1;
    transition: .5s;
}

.text a:hover::before {
    height: 100%;
}

.profile-image img {
    width: 550px;
    margin-top: 50px;
    padding-right: 80px;
}

.about {
    height:500px;
    margin-top: 100px;
}

.about h1,
.work h1 {
    font-size:10rem;
    z-index: 0;
    opacity: .1;
}

.about-me-info {
    max-width: 900px;
    background-color: #252627;
    color: #fff;
    box-shadow: 0 0 1.2rem rgba(0,0,0,.25);
    padding: 50px;
    position: relative;
    top: -70px;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

a.about-me-info p {
    font-size: 1.3rem;
    color: #bebebe;
}

.about-me-info p:nth-child(2),
.about-me-info p:last-child {
    margin-top: 30px;
}

.about img {
    width: 300px;
    position: relative;
    top: -300px;
    left: calc(100% - 100px);
    right: calc(100% - 100px);
    transform: translateX(calc(-100% + 100px));
}

.skills {
    height: 100vh;
}

.skills-icons h1,
.contact h1 {
    text-align: right;
    font-size: 10rem;
    opacity: .1;
    height: 275px;
}

.skills.info {
    font-size: 1.4rem;
    color: #bebebe;
    max-width: 100%;
    position: relative;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin-bottom: 50pc;
}

.html {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;
}


div[class^='tag-'] p {
    color: #fff;
    text-align: left;
    padding-left: 10px;
    font-size: 1.1rem;
    padding-top: 3px;
}

.skills-icons {
    text-align: center;
    padding-left: 250px;
    padding-right: 250px;
    padding-top:50px;
    padding-bottom:65px;

}

.skills-icons p {
   padding-bottom: 20px;
}

.skills-icons .row {
  display: inline-flex;
}

.icon i {
    font-size: 100px;
    display: inline-block;
    margin-right: 105px;
    position: relative;
    text-align: center;
    top: 2px;
    width: 30px;
    padding: 16px 0;
    color: #ed5565;
}

.work-category button {
    text-transform: capitalize;
    border: 3px solid #ed5565;
    padding: 15px 30px;
    border-radius: 50px;
    color: #ed5565;
    font-size: 1.1rem;
    letter-spacing: 1px;
    background-color: #252627;
    outline: none;
    cursor: pointer;
}

div[class^='category-'] {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(350px, 1fr));
    grid-gap: 20px;
}

.work a {
    justify-self: center;
    position: relative;
    display:inline-block;
}

.work-category .active {
    background-color: #ed5565;
}

button.active {
    color: #fff;
}

.work a img {
    width: 350px;
    justify-self: center;
}

div.hideCategory {
    display: none;
}

.showCategory {
    display: block;
}

.contact {
    margin-top: 50px;
}

form input,
form textarea {
    display: block;
    width: 500px;
    padding: 20px;
    background-color: #252627;
    border: 3px solid #707070;
    margin: 20px 0;
    outline: none;
    font-size: 1.2rem;
    color: #fff;
    position: relative;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
}

form input :last-child {
    width: 150px;
    background-color: #ed5565;
    border: none;
    cursor: pointer;
}

footer hr {
    border: 2px solid #707070;
    margin-top: 80px;
}

footer p {
    text-align: center;
    color: #707070;
}

.button {
    background-color:#ed5565; 
    border: 2px solid white;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;    
  }

  .button:hover {
    background-color: white; 
    color: #ed5565;
  }

  .call-to-action {
    text-align: end;
    color: white;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    font-size: small;
    padding: 2%;
}













